<nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sylius_admin_dashboard') }}">{{ 'sylius.ui.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('setono_sylius_feed_admin_feed_index') }}">{{ 'setono_sylius_feed.ui.feeds'|trans }}</a></li>
        <li class="breadcrumb-item active">#{{ feed.id }}</li>
    </ol>
</nav>
